{{ define "signup" }}
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}{{end}} - Budgeting</title>
    <link rel="stylesheet" href="/static/styles/output.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        #main-content {
            flex: 1;
        }
    </style>
</head>

<body>
{{ block "nav" . }}{{end}}

<div id="main-content" class="flex-grow flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-center text-3xl font-extrabold text-gray-900">Sign Up</h2>
        <form class="mt-8 space-y-6" hx-post="/signup/create">
            <div class="rounded-md shadow-sm space-y-4">
                <div>
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" id="email" name="email" class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email" required>
                </div>
                <div>
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="username" class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Username" required>
                </div>
                <div>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" hx-post="/signup/password_check" hx-trigger="keyup changed delay:0.1s" hx-target="#password-feedback" hx-swap="innerHTML" class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password" required>
                </div>
                <div id="password-feedback">
                </div>
            </div>
            <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Create Account
            </button>
        </form>
    </div>
</div>

{{ template "footer" . }}

<script src="https://unpkg.com/htmx.org@1.8.4"></script>
</body>
</html>
{{ end }}
