{{define "transactions"}}
    {{template "head"}}
    <body hx-ext="response-targets" class="flex flex-col min-h-screen bg-gray-50">
    {{ block "nav" . }}{{end}}
    <div id="body-content" class="flex-grow flex flex-col items-center justify-center">

            <main class="w-full max-w-4xl mx-auto "
                  hx-get="/transactions/tab?tab=All"
                  hx-target="#transaction-table"
                  hx-trigger="load"
            >
                <div id="transaction-table" class="relative">

            </div>
            </main>

    </div>


    {{ template "footer" . }}
    {{template "htmxScripts"}}
    </body>
    </html>
{{end}}
