# Ignore the compiled executable
main
tailwindcss

# Ignore other build artifacts
*.o
*.out
*.exe
*.log

# Ignore https keys
*.pem

# Ignore vendor dependencies
/vendor/

# Ignore IDE-specific files
.idea/
.vscode/


