{{ define "addTransaction" }}
<div class="hidden fixed inset-0 z-50 flex items-center justify-center" id="add-modal">
    <div class="relative w-full max-w-lg mx-auto bg-white rounded-lg shadow-lg">
        <!-- Header -->
        <div class="flex items-center justify-between p-5 border-b border-gray-200">
            <h3 class="text-xl font-semibold text-gray-900">
                Change Password
            </h3>
            <button class="text-gray-400 hover:text-gray-600" onclick="toggleModal('add-modal')">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>



        <!-- Body -->
        <div hx-ext="response-targets">
            <form id="add-transaction-form"
                    class="p-6 space-y-6 divide-y-2 divide-sold divide-slate-400/25"
                    hx-post="/transactions/add?tab={{.ActiveTab}}&month={{.ActiveMonth}}"
                    hx-target="#table-head"
                    hx-target-error="#error-section"
                    hx-swap="innerHTML"
                    x-ref="addModal"
            >
                <div id="error-section">
                    {{ template "error-message" }}
                </div>

                <div class="w-full">
                    <!-- Name Input -->
                    <label for="Name" class="block text-sm font-medium text-gray-700 mb-2">Name</label>
                    <div class="flex items-center space-x-4 mb-4">
                        <!-- Input takes up 75% of the width -->
                        <input type="text" id="Name" name="name" class="w-3/4 px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required placeholder="Transaction Name">

                        <!-- Checkbox aligned to center of input -->
                        <div class="flex items-center">
                            <input type="checkbox" id="incoming" name="incoming" class="h-4 w-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500">
                            <label for="incoming" class="ml-2 text-sm font-medium text-gray-700">Incoming?</label>
                        </div>
                    </div>

                    <!-- Amount and Date Inputs on the next line -->
                    <div class="flex items-center space-x-4">
                        <!-- Amount Input - 50% width -->
                        <div class="w-1/2">
                            <label for="amount" class="block text-sm font-medium text-gray-700 mb-2">Amount</label>
                            <input type="text" id="amount" name="amount" class="w-full px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required placeholder="Amount">
                        </div>

                        <!-- Date Input - 50% width -->
                        <div class="w-1/2">
                            <label for="date" class="block text-sm font-medium text-gray-700 mb-2">Date</label>
                            <input type="date" id="date" name="date" class="w-full px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                        </div>
                    </div>

                    <div class="w-full mt-4">
                         <!-- Select Dropdown -->
                        <label for="add-categories-select" class="block text-sm font-medium text-gray-700 mb-2">Categories</label>

                        <!-- Select Dropdown -->
                        <select id="add-categories-select" name="category-list" class="w-full px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option value="" selected>Select a category</option>
                            <!-- Options populated dynamically from the server -->
                            {{ range .AllCategories }}
                            <option value="{{.}}">{{.}}</option>
                            {{ end }}
                            <option value="custom">Custom</option>
                        </select>

                        <!-- Single Input Field for Category -->
                        <input type="text" id="category-input" name="category" class="hidden w-full px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter a custom category">
                    </div>
                </div>




                <!-- Footer -->
                <div class="flex items-center justify-end p-6 border-t border-gray-200">
                    <button class="text-gray-500 hover:text-gray-700 font-medium px-4 py-2 rounded-md focus:outline-none mr-2" type="button" onclick="toggleModal('add-modal')">
                        Close
                    </button>
                    <button class="bg-indigo-600 text-white hover:bg-indigo-500 font-medium px-4 py-2 rounded-md focus:outline-none" type="submit">
                        Add Transaction
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="hidden fixed inset-0 z-40 bg-black bg-opacity-50" id="add-modal-backdrop"></div>


<script>

</script>



{{ end }}