{{ define "changePasswordModal" }}
    <div class="hidden fixed inset-0 z-50 flex items-center justify-center" id="modal-id">
        <div class="relative w-full max-w-lg mx-auto bg-white rounded-lg shadow-lg">
            <!-- Header -->
            <div class="flex items-center justify-between p-5 border-b border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900">
                    Change Password
                </h3>
                <button class="text-gray-400 hover:text-gray-600" onclick="toggleModal('modal-id')">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <!-- Error Container -->
            <div id="error">
                {{ template "error-message" }}
            </div>

            <!-- Body -->
            <div hx-ext="response-targets">
                <form
                    hx-put="/profile/change_password"
                    hx-target-400="#error"
                    hx-swap="innerHTML"
                    class="p-6 space-y-6 divide-y-2 divide-sold divide-slate-400/25"
                >
                    <div>
                        <label for="old-password" class="block text-sm font-medium text-gray-700 mb-2">Current Password</label>
                        <input type="password" id="old-password" name="old-password" class="block w-full px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                    </div>
                    <div>
                        <div>
                            <label for="password" class="block text-sm font-medium text-gray-700 mb-2">New Password</label>
                            <input type="password" id="password" name="password" hx-post="/profile/password_check" hx-trigger="keyup changed delay:0.1s" hx-target="#password-feedback" hx-swap="innerHTML" class="block w-full px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                        </div>
                        <div>
                            <label for="confirm-password" class="block text-sm font-medium text-gray-700 mb-2">Confirm Password</label>
                            <input type="password" id="confirm-password" name="confirm-password" class="block w-full px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                        </div>
                        <div id="password-feedback">
                            <div>
                                <div id="password-entropy">
                                    <span class="text-base font-medium text-blue-700 dark:text-black">Password Strength</span>
                                    <span class="text-sm font-medium text-blue-700 dark:text-black">0%</span>
                                </div>
                                <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                                    <div class=" h-2.5 rounded-full" style="width: 0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer -->
                    <div class="flex items-center justify-end p-6 border-t border-gray-200">
                        <button class="text-gray-500 hover:text-gray-700 font-medium px-4 py-2 rounded-md focus:outline-none mr-2" type="button" onclick="toggleModal('modal-id')">
                            Close
                        </button>
                        <button class="bg-indigo-600 text-white hover:bg-indigo-500 font-medium px-4 py-2 rounded-md focus:outline-none" type="submit">
                            Confirm Changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="hidden fixed inset-0 z-40 bg-black bg-opacity-50" id="modal-id-backdrop"></div>

    <script type="text/javascript">
        function toggleModal(modalID){
            document.getElementById(modalID).classList.toggle("hidden");
            document.getElementById(modalID).querySelector('form').reset();
            document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
        }
        document.body.addEventListener('htmx:afterRequest', function(evt) {
            // Check if the request was to change the password
            if (evt.detail.pathInfo.requestPath === '/profile/change_password' && evt.detail.xhr.status === 200) {
                // Close the modal
                toggleModal('modal-id');

                // Reset the form inputs
                document.getElementById('modal-id').querySelector('form').reset();
            }
        })
    </script>

{{ end }}
