{{ define "editTransaction" }}
<div class="hidden fixed inset-0 z-50 flex items-center justify-center" id="modal-edit">
    <div class="relative w-full max-w-lg mx-auto bg-white rounded-lg shadow-lg">
        <!-- Header -->
        <div class="flex items-center justify-between p-5 border-b border-gray-200">
            <h3 class="text-xl font-semibold text-gray-900">
                Edit Transaction
            </h3>
            <button class="text-gray-400 hover:text-gray-600" onclick="toggleModal('modal-edit')">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>



        <!-- Body -->
        <div >
            <form id="edit-transaction-form"
                  class="p-6 space-y-6 divide-y-2 divide-sold divide-slate-400/25"
                  hx-put="/transactions/edit?tab={{.ActiveTab}}&month={{.ActiveMonth}}"
                  hx-target-error="#error-section"
                  hx-target="#table-head"
                  hx-swap="innerHTML"
            >
                <div id="error-section">
                    {{ template "error-message" . }}
                </div>

                <div class="w-full">
                    <input id="edit-id" name="id" type="hidden">
                    <!-- Name Input -->
                    <label for="edit-name" class="block text-sm font-medium text-gray-700 mb-2">Name</label>
                    <div class="flex items-center space-x-4 mb-4">
                        <!-- Input takes up 75% of the width -->
                        <input type="text" id="edit-name" name="name" class="w-3/4 px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required placeholder="Transaction Name">

                        <!-- Checkbox aligned to center of input -->
                        <div class="flex items-center">
                            <input type="checkbox" id="edit-incoming" name="incoming" class="h-4 w-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500">
                            <label for="edit-incoming" class="ml-2 text-sm font-medium text-gray-700">Incoming?</label>
                        </div>
                    </div>

                    <!-- Amount and Date Inputs on the next line -->
                    <div class="flex items-center space-x-4">
                        <!-- Amount Input - 50% width -->
                        <div class="w-1/2">
                            <label for="edit-amount" class="block text-sm font-medium text-gray-700 mb-2">Amount</label>
                            <input type="text" id="edit-amount" name="amount" class="w-full px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required placeholder="Amount">
                        </div>

                        <!-- Date Input - 50% width -->
                        <div class="w-1/2">
                            <label for="edit-date" class="block text-sm font-medium text-gray-700 mb-2">Date</label>
                            <input type="date" id="edit-date" name="date" class="w-full px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                        </div>
                    </div>

                    <div class="w-full mt-4">
                        <!-- Select Dropdown -->
                        <label for="edit-categories-select" class="block text-sm font-medium text-gray-700 mb-2">Categories</label>

                        <!-- Select Dropdown -->
                        <select id="edit-categories-select" name="category-list" class="w-full px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option value="" selected>Select a category</option>
                            <!-- Options populated dynamically from the server -->
                            {{ range .AllCategories }}
                            {{ if not (eq . "All") }}
                            <option value="{{.}}">{{.}}</option>
                            {{ end }}
                            {{end}}
                            <option value="custom">Custom</option>
                        </select>

                        <!-- Single Input Field for Category -->
                        <input type="text" id="-edit-category-input" name="category" class="hidden w-full px-3 py-2 border border-gray-300 rounded-md text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter a custom category">
                    </div>
                </div>




                <!-- Footer -->
                <div class="flex items-center justify-end p-6 border-t border-gray-200">
                    <button class="text-gray-500 hover:text-gray-700 font-medium px-4 py-2 rounded-md focus:outline-none mr-2" type="button" onclick="toggleModal('modal-edit')">
                        Close
                    </button>
                    <button class="bg-indigo-600 text-white hover:bg-indigo-500 font-medium px-4 py-2 rounded-md focus:outline-none" type="submit">
                        Edit Transaction
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="hidden fixed inset-0 z-40 bg-black bg-opacity-50" id="modal-edit-backdrop"></div>




{{ end }}